.about-home {
    .content-wrapper {
        border: .05rem solid #ccc;
        border-radius: .2rem;
        margin: 2rem 0;
        padding: 2rem 0;

        .item-wrapper {
            text-align: center;
            overflow: hidden;

            img {
                width: 100%;
                border-radius: .2rem;
            }
        }
    }
}