.services-home-grid {
    .content-wrapper {
        border: .05rem solid #ccc;
        border-radius: .2rem;
        margin: 2rem 0;
        padding: 2rem 0;

        .item-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            .icon {
                font-size: 3rem;
            }
        }
    }
}