footer {
    border-top: .05rem solid #ccc;
    margin: 2rem 0;
    padding: 2rem 0;

    .content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
}

@media screen and (min-width: 992px) {
    footer {
        .content-wrapper {
            flex-direction: row;
            justify-content: space-between;
        }
    }
}